<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Stark Arcade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1><i class="fas fa-gamepad"></i> Game Protocols</h1>
        <p>Select a mission to proceed:</p>
        <br>
        <a href="/rps" class="btn" style="width: 80%;">Rock Paper Scissors</a>
        <a href="/guess" class="btn" style="width: 80%;">The Perfect Guess</a>
    </div>
</body>
</html>
